<div class="m-toponomysearch-content">
    <div class="result">
        <table>
            <tr>
                <td class="key">Nombre</td>
                <td class="value">{{nombre}}</td>
            </tr>
            <tr>
                <td class="key">Tipo</td>
                <td class="value">{{tipo}}</td>
            </tr>
            <tr>
                <td class="key">Municipio</td>
                <td class="value">{{mun}}</td>
            </tr>
            <tr>
                <td class="key">Provincia</td>
                <td class="value">{{prov}}</td>
            </tr>
        </table>
    </div>
</div>